<div class="jumbotron">
  <h1>Trova lavoro, ora!</h1>
  <h2>Diventa il Manager delle sfide!</h2>
  <p>Lascia la tua email</p>
  <p>Verrai ricontattato entro 24 ore per un primo colloquio</p>



  <form role="form">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <button type="submit" class="btn btn-default">Iscriviti!</button>
  </form>

</div>