<div class="center">
    <p style="font-size:2em">Orari di apertura</p>
        <div class="row center">
          <div class="col-xs-6 col-md-4">Lunedì h.8:00-18:00
          <br>Martedì h.8:00-18:00
          <br>Mercoledì h.8:00-18:00
          <br>Giovedì h.8:00-18:00
          <br>Venerdì h.8:00-18:00</div>
          <div class="col-xs-6 col-md-4">Sabato h.8.00 -19.00</div>
          <div class="col-xs-6 col-md-4">Domenica chiuso</div>
        </div>
    </p>
    <p style="font-size:2em">Vieni a trovarci</p>
    <p>Siamo ad Arese Via San Vittore n°3</p>
    <div class="row">
        <div class="col-xs-18 col-md-4 col-md-offset-4">
            <div id="map" style="width: 300px; height: 300px;"></div>
               <script>
                 function initMap() {
                   var myLatlng = {lat: 45.549739, lng: 9.08113400000002};

                   var map = new google.maps.Map(document.getElementById('map'), {
                     zoom: 16,
                     center: myLatlng
                   });

                   var marker = new google.maps.Marker({
                     position: myLatlng,
                     map: map,
                     title: 'Clicca per zoomare'
                   });

                   map.addListener('center_changed', function() {
                     // 3 seconds after the center of the map has changed, pan back to the
                     // marker.
                     window.setTimeout(function() {
                       map.panTo(marker.getPosition());
                     }, 3000);
                   });

                   marker.addListener('click', function() {
                     map.setZoom(8);
                     map.setCenter(marker.getPosition());
                   });
                 }
               </script>
               <script async defer
               src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuMpmdCYX3zhYkp0cObjaNvv-z_gshb90&callback=initMap">
               </script>
            </div>
    </div>
    <p style="font-size:2em">Numeri utili</p>
    <div class="row">
        <div class="col-xs-6 col-md-6">Telefono<br>
            <p class="fa fa-phone-square"><a href="tel:02 9358 9090"> 02 9358 9090</a></p>
        </div>
        <div class="col-xs-6 col-md-6">Fax<br>
            <p class="fa fa-fax"><a href="tel:02 9358 9090"> 02 9358 9090</a></p>
        </div>
    </div>
</div>
