<p style="font-size:2.5em">Il nostro credo</p>
<p>
    Se uno si sente Natural Challeman sa da subito che tipo di vita lavorativa avrà continue sfide. Continue missioni da portare a termine: prendere una laurea, partecipare a corsi di management, diventare master sicuramente aiuta, ma la speciale capacità lavorativa di cui dispone trova fondamento nella sua natura, prende linfa dalle sue radici, si esterna nell'azione tramite i suoi talenti naturalinon sente assolutamente il bisogno di accasarsi in un'organizzazione non avverte disagio né difficoltà a passare da un reparto ad un altro, da un'azienda ad un'altra per risolvere sempre nuove problematiche.<br>
    Questa è la sua natura, questa è la sua vita. Questa sua peculiarità trova rispondenza con le attuali esigenze del mercato che ha modificato i comportamenti e gli obiettivi economici. Questo account è da considerare come un porto sicuro per noi Natural Challeman proponiamo obiettivi semplici: trovarci, conoscerci, scambiare esperienze, il resto lo costruiremo insieme.
</p>
<p style="font-size:2.5em">I due tipi di manager</p>
<p>
    Management significa semplicemente gestire le risorse a disposizione all'interno di un'azienda e le opportunità all'esterno della medesima, utili per il raggiungimento degli obiettivi aziendali.<br>
    Manager è una risorsa aziendale,in grado di assumersi responsabilità di guida delle risorse umane e tecnologiche operanti in aree ben definite organizzativamente al fine di pervenire agli obiettivi fissati<br><br>
    Esistono due differenti tipologie di manager: quello di posizionamento e quello di movimentola. Il primo è ha  in azienda a carattere temporaneo, qualunque siano le sue radici: movimento o stabilità il concetto di carriera esiste solo fino ai quadri. Il percorso del quadro si conclude quando diventa manager di posizionamento, che in ogni caso deve accettare che periodicamente la sua area operativa venga analizzata da manager di movimentoil tempo di permanenza in azienda è definito preventivamente ed è direttamente dipendente dall'importanza delle responsabilità e degli obiettivi concordati con il mandante, è sempre breve per i manager da movimento, può essere anche molto lungo per quelli di posizionamento.<br>
    Il mandante è sempre e solo il titolare dell'azienda o il top manager entrambi naturalmente svolgono bene il lavoro assegnato  perchè dispongono di Talenti naturali specifici per l'attività che hanno sceltocosì come sono ben diversi i Talenti acquisiti che hanno colto per migliorare leloro performances
</p>
