<div class="center jumbotron">
  <h1>BDF Officina</h1>
  <h2>Altre parole</h2>
</div>
<div class="center">
    <p style="font-size:2em">Servizi offerti</p>
    <h2>Revisioni</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
    </p>
    <h2>Altri lavori</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
    </p>
</div>
