<div class="center jumbotron">
  <h1>BASTA FARE CONSULENZA, INIZIA A FARE LA DIFFERENZA ORA</h1>
  <h2>Diventa il Manager delle sfide!</h2>
  <p>Stiamo selezionando una nuova lista di Ingegneri gestionali per lavorare come Challeman - I manager dells sfide.<br>Challeman sono una nuova figura di assistenza al management, sono un nuova possibilità offerta per chi vuole fare e non vuole accontentarsi di essere uno dei tanti consulenti presenti nel mercato del lavoro.</p>
  <p>E' il primo sistema che permettere a neo-laureati di lavorare presso realtà aziendali italiane per migliorare concretamente la vita di un'azienda intervenendo con poteri decisionali e operativi nelle attività dell'azienda. Le responsabilità, e quindi i lavori sono ad ampio raggio.</p>

  <form role="form">
    <div class="form-group">
      <label for="email">Inserisci qui sotto l'indirizzo e-mail:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <button type="submit" class="btn btn-default" id="buttonSignUp">Iscriviti ora!</button>
  </form>
</div>
