<div class="bodyQuality center">
    <div class="introductionQuality">
        <p style="font-size:2.5em">Cosa sono i Challeman?</p>
        <p>
            I Challeman sono un nuova possibilità offerta a chi vuole fare e non vuole accontentarsi di essere uno dei tanti consulenti presenti nel mercato del lavoro. E' il primo sistema che permettere a neo-laureati di lavorare presso realtà aziendali italiane per migliorare concretamente la vita di un'azienda intervento con poteri decisionali e operativi anche importanti.<br>
            I lavori e le responsabilità dipendono dal mandante del lavoro. Potresti lavorare per ristrutturare interi reparti di produzione, ridisegnare le procedure operative del personale, perfino assistere il CEO nell’ammodernamento dell'aspetto digitale di alcuni reparti o addirittura di tutta l’azienda e tanti altri ancora. Per tutti questi lavori, i tuoi referenti all'interno dell'azienda potranno essere top manager dell'azienda se non addirittura il CEO stesso. Fondamentalmente dipende dalla dimensione, dalla struttura dell’azienda e dalla richiesta di lavoro del mandante.
        </p>
        <p style="font-size:2.5em">Quali sono le aree di intervento e i tempi della realizzazione?</p>
        <p>
            Impossibile dare a priori una risposta. Lo farai dopo una prima analisi e conseguente diagnosi . Anche qui dipende dal tipo e dalla tipologia dell'intervento. Tendenzialmente il contratto può essere per un minimo di 6 mesi ed un massimo di due anni. Essendo la natura dell'intervento temporanea, anche su una durata breve sarà un'esperienza molto intensa e significativa sia professionalmente sia come stimolo intellettivo.<br>
            I tempi realizzazione cambiano da progetti a progetti. Tendenzialmente vanno dai 6(sei) mesi fino ai 2(due) anni massimi per ogni singolo progetto.
        </p>
        <p style="font-size:2.5em">Finito il mio mandato, quale prospettive lavorative avrei?</p>
        <p>
            Potrai ripartire con una nuova sfida presso una nuova realtà oppure decidere di cambiare modo di lavorare. Queste sfide sono assai formative poiché si è impegnati in casi, magari complessi, dove saranno richieste oltre a competenza tecniche anche competenze trasversali. Un'esperienza di questo tipo impatterà sempre in maniera positiva sul tuo curriculum diventando un vero e proprio volano per i successivi impieghi o per altre sfide.
        </p>
        <p style="font-size:2.5em">I valori del Challeman</p>
        <p>
            Per realizzare tale compiti non sono necessarie solamente una serie di abilità e competenze apprese alle lezioni in università ma bisogna possedere talenti naturali. Questi talenti naturali sono assimilabili a soft skills, ma non solo, che diventano abilità fondamentali per gestire criticità aziendali. Per questo queste persone dovranno dimostrare durante il colloquio preliminari di avere competenze uniche per poter svolgere ruoli così delicati e cruciali. Ovviamente questi talenti verranno premiati dal mercato con un salario maggiore. Sarà una squadra d'elité per questo motivo cerchiamo solamente motivata e disposta a fare scelte coraggiose.
        </p>
        <ul>
            <li>Autonomia</li>
            <li>Buon senso</li>
            <li>Capacità analitica</li>
            <li>Capacità collaborativa</li>
            <li>Capacità di coinvolgimento</li>
            <li>Capacità di lavoro 24h su 24h</li>
            <li>Capacità di diagnostica</li>
            <li>Capacità inquisitiva</li>
            <li>Capacità realizzatrice</li>
            <li>Comunicazione</li>
            <li>Concretezza</li>
            <li>Creatività</li>
            <li>Curiosità continua</li>
            <li>Empatica psicologica</li>
            <li>Empatia organizzativa</li>
            <li>Flessibilità</li>
            <li>Intuitività</li>
            <li>Leadership temporanea</li>
            <li>Rispetto del timing</li>
            <li>Semplicità</li>
            <li>Senso del tempo</li>
            <li>Senso etico</li>
            <li>Senso morale</li>
            <li>Senso della qualità</li>
            <li>Senso della lealtà</li>
            <li>Spietatezza</li>
        </ul>
    </div>
    <%= link_to "Scarica la guida complet!", about_path, class:"btn btn-primary" %>
</div>
