<div class="bodyQuality center">
    <div class="introductionQuality">
        <p style="font-size:2.5em">Perché i Challeman sono manager diversi?</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p style="font-size:2.5em">I valori del Challeman</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <ul>
            <li>Autonomia</li>
            <li>Buon senso</li>
            <li>Capacità analitica</li>
            <li>Capacità collaborativa</li>
            <li>Capacità di coinvolgimento</li>
            <li>Capacità di lavoro 24h su 24h</li>
            <li>Capacità di diagnostica</li>
            <li>Capacità inquisitiva</li>
            <li>Capacità realizzatrice</li>
            <li>Comunicazione</li>
            <li>Concretezza</li>
            <li>Creatività</li>
            <li>Curiosità continua</li>
            <li>Empatica psicologica</li>
            <li>Empatia organizzativa</li>
            <li>Flessibilità</li>
            <li>Intuitività</li>
            <li>Leadership temporanea</li>
            <li>Rispetto del timing</li>
            <li>Semplicità</li>
            <li>Senso del tempo</li>
            <li>Senso etico</li>
            <li>Senso morale</li>
            <li>Senso della qualità</li>
            <li>Senso della lealtà</li>
            <li>Spietatezza</li>
        </ul>
    </div>
    <%= link_to "Scarica la guida!", about_path, class:"btn btn-primary" %>
</div>
