<div class="container">
    <footer class="footer">
        <small>
        Copyright &copy; <a href="#">Challeman</a>
        di <a href="https://www.facebook.com/luca.basilico.54?fref=ts">Basilico Luca</a> e <a href="https://www.facebook.com/claudio.velati?fref=ts">Claudio Velati</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>
