<div class="container">
    <footer class="footer">
        <small>
        Copyright &copy; <a href="#">Challeman</a>
        di <a href="https://www.facebook.com/luca.basilico.54?fref=ts">Basilico Luca</a> e <a href="https://www.facebook.com/claudio.velati?fref=ts">Claudio Velati</a>
        </small>
        <nav id="footerLeft">
            <ul>Seguici nel nostro gruppo social di Challeman:
                <li><a href="https://www.facebook.com/groups/1601066596883412/?ref=bookmarks">Facebook</a></li>
            </ul>
        </nav>
        <nav id="footerRight">
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>
