<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="#">BDF - Officina</a>
            di <a href="https://www.facebook.com/luca.basilico.54?fref=ts">Basilico Luca</a>.
            </nav>
        </small>
    </footer>
</div>
