<meta name="description" content="Challeman permette di trovare il miglior temporary manager per risolvere le tue difficoltà aziendali.">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css(.) styles/vendor.css -->
<!-- bower:css -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) styles/main.css -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="description" content="Edexia | Il servizio in Italia che ti permette di trovare un educatore specializzato in dislessia"/>
<!-- google rich snippet-->
<div style="display:none" itemscope="" itemtype="http://schema.org/EducationalOrganization"><a itemprop="url" href="www.edexia.it">Home</a><img itemprop="logo" src="http://www.edexia.it/css/img/logo_edexia.png" alt="Edexia | Trova il tuo educatore esperto in dislessia"/><span itemprop="email">info@edexia.it</span></div>
<div style="display:none" itemscope="" itemtype="http://schema.org/Thing"><span itemprop="description" itemtype="text"></span>Edexia ti permette di trovare in pochi istanti un educatore specializzato nell'aiutare ragazzi con un Disturbo Specifico dell'Apprendimento come la dislessia.</div>
<!-- Facebook Open Graph-->
<meta property="og:title" content="Challeman - I manger delle sfide"/>
<meta property="og:image" content="http://www.edexia.it/css/img/logo_edexia.png"/>
<meta property="og:site_name" content="Challeman"/>
<meta property="og:url" content="http://www.challeman.it"/>
<meta property="og:description" content="Challeman permette di trovare il miglior temporary manager per risolvere le tue difficoltà aziendali."/>
<link rel="schema.dcterms" href="http://purl.org/dc/elements/1.1/"/>
<meta name="DC.title" content="Challeman"/>
<meta name="DC.description" content="I manager delle sfide - Trovare il miglior temporary manager per risolvere le tue difficoltà aziendali"/>
<meta name="DC.format" content="text/html"/>
<meta name="DC.identifier" content="http://challeman.it"/>
<meta name="DC.publisher" content="challeman.it"/>
<meta name="DC.type" content="Text"/>