<meta name="description" content="#">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<div style="display:none" itemscope="" itemtype="#"><a itemprop="url" href="#">Home</a>
<img itemprop="logo" src="http://wwww.google.com/images/logo" alt="#"/><span itemprop="email">#</span></div>
<div style="display:none" itemscope="" itemtype="http://wwww.google.com"><span itemprop="description" itemtype="text"></span>BDF Officina - Revisioni, assistenza con la massima professionalità.</div>
<!-- Facebook Open Graph-->
<meta property="og:title" content="#"/>
<meta property="og:image" content="#"/>
<meta property="og:site_name" content="#"/>
<meta property="og:url" content="http://www.testpage.com"/>
<meta property="og:description" content="#"/>
<link rel="schema.dcterms" href="http://wwww.google.com"/>
<meta name="DC.title" content="#"/>
<meta name="DC.description" content="#"/>
<meta name="DC.format" content="text/html"/>
<meta name="DC.identifier" content="http://google.com"/>
<meta name="DC.publisher" content="#"/>
<meta name="DC.type" content="Text"/>
